.goalLink {
  text-decoration: none;
}

.goalId {
  font-size: 0.86em !important; 
  word-wrap: break-word;
}

.goalActionArea {
  height: 100%;
  display: inline-flex !important;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

.goalCard {
  height: 100%;
}

.pendingGoalCard {
  height: 100%;
  opacity: 0.5;
  position: relative;

  & > div {
    padding-bottom: 16px !important;
  }
}

.goalsCtr {
  margin: 32px 0px;
}

.goalsEmpty {
  text-align: center;
  margin-top: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.desc {
  flex-grow: 1;
}

.deadline {
  display: flex;
  align-items: center;
  margin-top: 8px;
  & svg {
    height: 0.6em;
    width: 0.6em;
    margin-right: 4px;
  }
  & p {
    font-size: 0.86em !important;
  }
}

.deleteBtn {
  position: absolute !important;
  top: 8px;
  right: 8px;
  padding: 8px !important;
  & svg {
    width: 0.7em;
    height: 0.7em;
  }
}
