.goalLink {
  text-decoration: none;
}

.goalId {
  font-size: 0.86em !important; 
}

.goalCard {
  height: 100%;
}

.goalsCtr {
  margin: 32px 0px;

}

.addForm {
  display: flex;
  margin: 16px 0px;

  & button {
    flex-shrink: 0;
    margin-left: 16px;
  }
}
