.goals-list {
  justify-content: center;
  font-size: 1.3em;
  ul {
    grid-gap: 2em;
    list-style-type: none;
    padding: 10px 10px;
    li {
      color: white;
      background-color: #7542f5;
      padding: 10px 10px;
      border-radius: 5px;
      margin-bottom: 16px;
      display: flex;
      justify-content: center;
    }
  }
}
