.navbar {
  flex-grow: 1;
  display: flex;
  .toolbar {
    display: flex;
    justify-content: space-between;
  }
  .logo {
    margin-right: spacing(2);
  }
  .app-name {
    flex-grow: 1;
    padding-left: 1em;
  }
  img {
    width: 2em;
  }
}