.goalsMain {
  padding-top: 1em;
}

.goalsHeader {
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;

    background-color: #444444;
    border-radius: 20px;
  }

.homepage {
  background-color: #242424;

  & form {
    display: flex;
    justify-content: center;
  }
}


.addGoalBtn {
  color: white;
}
