.goalsMain {
  padding-top: 100px;
}

.goalsHeader {
  color: white;
  padding: 16px;
  text-align: center;
  
  & div {
    display: inline;
    padding: 8px;
  }
}

.homepage {
  background-color: #242424;

  & form {
    display: flex;
    justify-content: center;
  }
}


.addGoalBtn {
  color: white;
}
